@font-face {
    font-family: 'bungeeregular';
    src: url('assets/bungee-regular-webfont.woff2') format('woff2'),
         url('assets/bungee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grenze_gotischregular';
    src: url('assets/grenzegotisch-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/grenzegotisch-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poiret_oneregular';
    src: url('assets/poiretone-regular-webfont.woff2') format('woff2'),
         url('assets/poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rokkittregular';
    src: url('assets/rokkitt-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/rokkitt-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhandregular';
    src: url('assets/shrikhand-regular-webfont.woff2') format('woff2'),
         url('assets/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'staatlichesregular';
    src: url('assets/staatliches-regular-webfont.woff2') format('woff2'),
         url('assets/staatliches-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vollkornitalic';
    src: url('assets/vollkorn-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/vollkorn-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vollkornregular';
    src: url('assets/vollkorn-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/vollkorn-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-weight: 100;
}

body {
    background-color: rgb(17, 17, 17);
    padding: 4% 4% 4% 0;
}

#title-div {
    margin: 2em 0; 
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-family: 'grenze_gotischregular';
    font-weight: 100;
    font-size: 2em;
}

#nav-div {
    display: flex;
    align-items: center;
    margin: 0 0 1em;
}

#question-mark {
    color: whitesmoke;
    background-color: rgb(17, 17, 17);
    font-family: "staatlichesregular";
    font-weight: 100;
    font-size: 10em;
    text-align: center;
    width: 2em;
}

nav {
    background-color: rgb(43, 57, 121);
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 0 0 2em;
    border-radius: .5em;
    height: 4em;
    right: 60em;
    transition: right 2s;
    z-index: -1;
}

.hovered-nav {
    right: 0;
}

.nav-link {
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-family: 'bungeeregular';
    font-size: 1.5em;
    margin: 1em;
}

h2 {
    color: whitesmoke;
    font-family: 'staatlichesregular';
    font-weight: 100;
    font-size: 5em;
    line-height: 1em;
    text-align: right;
}

#sub-text {
    font-size: 2em;
}