@font-face {
    src: url(assets/Fonts/Heavitas.ttf);
    font-family: heavitas;
  }

@font-face {
  font-family: 'rokkittregular';
  src: url('assets/Fonts/rokkitt-variablefont_wght-webfont.woff2') format('woff2'),
      url('assets/Fonts/rokkitt-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: auto;
  width: auto;
  background-color: hsl(0, 0%, 95%);
  font-family: 'heavitas';
}

#navbar {
  z-index: 2;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 3.5em;
  align-items: center;
  background-color: hsl(0, 0%, 25%);
}

#home-name {
  position: relative;
  text-decoration: none;
  color: hsl(213, 73%, 65%);
  font-size: 32.5px;
  transition: color 1s;
  margin: 6px 0 0 20px;
}

#home-name:hover {
  color: hsl(0, 0%, 95%);
}

#main-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 4px 0 0;
  width: 60em;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

#about-link {
  display: block;
  color: hsl(0, 0%, 95%);
  transition: color 1s;
}

#about-link::first-letter {
  color: hsl(275, 73%, 65%);
}

#about-link:hover {
  color: hsl(275, 73%, 65%);
}

#projects-link {
  display: block;
  color: hsl(0, 0%, 95%);
  transition: color 1s;
}

#projects-link::first-letter {
  color: hsl(130, 73%, 65%);
}

#projects-link:hover {
  color: hsl(130, 73%, 65%);
}

#contact-link {
  display: block;
  color: hsl(0, 0%, 95%);
  transition: color 1s;
}

#contact-link::first-letter {
  color: hsl(45, 73%, 50%);
}

#contact-link:hover {
  color: hsl(45, 73%, 50%);
}

#intro {
  margin: 10em 5em 10em 0;
}

#intro-heading {
  position: relative;
  font-size: 100px;
  text-align: right;
  color: hsl(0, 0%, 25%);
}

#sub-text {
  position: relative;
  display: block;
  font-size: 40px;
  text-align: right;
  color: hsl(0, 0%, 25%);
}

.div-bar {
  height: 1em;
  background-color: hsl(0, 0%, 25%);
}

section {
  padding: 3em;
}

.section-heading {
  font-size: 3em;
  margin-bottom: 1em;
  color: hsl(213, 73%, 65%);
}

.heading-span {
  font-family: 'rokkittregular';
  font-size: .75em;
  font-weight: 100;
  color: hsl(0, 0%, 25%);
}

#about-heading {
  margin-bottom: .5em;
}

#about-div {
  display: flex;
  margin: 0;
}

#text-div {
  margin-right: 5em;
}

.about-text {
  font-family: 'rokkittregular';
  font-size: 1.35em;
  line-height: 1.25em;
  margin-bottom: 1em;
  text-align: justify;
}

#last-about-text {
  margin-bottom: 0;
}

#prof-heading {
  font-size: 2em;
  margin-top: .25em;
  margin-bottom: .75em;
}

.prof-category {
  font-size: 1.25em;
  margin-bottom: .5em;
}

ul {
  margin-bottom: 1.5em;
}

li {
  font-family: 'rokkittregular';
  font-size: 1em;
  margin-bottom: .25em;
}

#gallery {
  max-width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}

.slides {
  margin: 0;
}

.slide-img {
  margin: 0;
}

.arrow-buttons {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: hsl(0, 0%, 25%);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-style: none;
  border-radius: 0 3px 3px 0;
}

.right-button {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.arrow-buttons:hover {
  background-color: hsl(213, 73%, 65%);
}

.caption {
  background-color: hsl(0, 0%, 25%);
  color: #f2f2f2;
  font-size: 1em;
  position: relative;
  bottom: 4px;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
}

#projects-div {
  display: flex;
  justify-content: space-around;
}

.projects-heading {
  text-align: center;
  margin-bottom: 1em;
}

.project-image {
  display: block;
  border-radius: .5em;
  width: 12em;
  margin: auto;
}

#black-box {
  height: 12em;
  background-color: hsl(0, 0%, 25%);
}

#contact-div {
  display: flex;
  justify-content: center;
}

.fa-wix, .fa-hackerrank, .fa-github-square {
  color: hsl(0, 0%, 25%);
  font-size: 5em;
  margin: .5em;
  transition: color 1s;
}

.fa-wix {
  position: relative;
  right: 5px;
}

:hover.fa-wix, :hover.fa-hackerrank, :hover.fa-github-square {
  color: hsl(213, 73%, 65%);
}

#email-div {
  background-color: hsl(213, 73%, 65%);
  display: block;
  position: relative;
  padding-top: 1em;
  margin: auto;
  height: 3em;
  width: 8em;
  text-align: center;
  border-radius: .25em;
}

#email-link {
  color: hsl(0, 0%, 95%);
  text-decoration: none;
  line-height: 1.2em;
}