@font-face {
    src: url(assets/Heavitas.ttf);
    font-family: heavitas;
  }

  * {
      padding: 0;
      margin: 0;
  }

  body {
    height: auto;
    width: auto;
    background-color: hsl(0, 0%, 95%);
    font-family: heavitas;
  }

  #navbar {
    z-index: 2;
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 3.5em;
    align-items: center;
    background-color: hsl(0, 0%, 25%);
  }

  #home-name {
    position: relative;
    text-decoration: none;
    color: hsl(213, 73%, 65%);
    font-size: 32.5px;
    transition: color 1s;
    margin: 6px 0 0 20px;
  }

  #home-name:hover {
    color: hsl(0, 0%, 95%);
  }

  #main-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 4px 0 0;
      width: 60em;
  }

  .nav-link {
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }

  #about-link {
    display: block;
    color: hsl(0, 0%, 95%);
    transition: color 1s;
  }

  #about-link::first-letter {
    color: hsl(275, 73%, 65%);
  }

  #about-link:hover {
    color: hsl(275, 73%, 65%);
  }

  #projects-link {
    display: block;
    color: hsl(0, 0%, 95%);
    transition: color 1s;
  }

  #projects-link::first-letter {
    color: hsl(130, 73%, 65%);
  }

  #projects-link:hover {
    color: hsl(130, 73%, 65%);
  }
  #contact-link {
    display: block;
    color: hsl(0, 0%, 95%);
    transition: color 1s;
  }

  #contact-link::first-letter {
    color: hsl(45, 73%, 50%);
  }

  #contact-link:hover {
    color: hsl(45, 73%, 50%);
  }

  #intro {
      margin: 10em 5em 10em 0;
  }

  #intro-heading {
    position: relative;
    font-size: 100px;
    text-align: right;
    color: hsl(0, 0%, 25%);
  }

  #sub-text {
    position: relative;
    display: block;
    font-size: 40px;
    text-align: right;
    color: hsl(0, 0%, 25%);
  }

  .div-bar {
    height: 15px;
    background-color: hsl(0, 0%, 25%);
  }

  #bottom {
    position: relative;
    display: flex;
  }

  #bottom-text {
    position: relative;
    display: block;
    text-align: center;
    margin: 0px 15px 15px 15px;
  }