@font-face {
    font-family: 'grenze_gotisch';
    src: url(../assets/Fonts/GrenzeGotisch-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'rye';
    src: url(../assets/Fonts/Rye-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/Fonts/Montserrat-Regular.ttf)
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 5em;
    background-color: hsl(0, 0%, 25%);
    display: flex;
}

h1 {
    font-family: 'rye', cursive;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    color: white;
}

a {
    color: hsl(213, 73%, 65%);
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: .75em;
}

#poem-div {
    margin: auto;
    
}

h2 {
    color: hsl(213, 73%, 65%);
    margin-bottom: 1em;
    font-family: 'Montserrat';
}

p {
    color: white;
    font-family: 'Montserrat';
}